body {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  color: #000000;
  font-family: calibri, sans-serif;
}

div#banner {
  background-color: #ed002f;
  margin: -1em -1em 0 -1em;
  padding: 1em;
  text-align: center;
}

h1.page_header {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h1.page_header a {
  color: #000000;
  text-decoration: none;
  display: block;
  margin: 0;
}

div#navbar_wrapper {
  background-color: #9a001e;
  margin-left: -1em;
  margin-right: -1em;
}

div#navbar {
  text-align: center;
  padding: 0;
  margin: 0;
}

div#navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

div#navbar ul li {
  padding: 0;
  margin: 0;
  display: inline-block;
}

div#navbar ul li a {
  color: #e0e0e0;
  text-decoration: none;
  padding: 1em 0.5em;
  margin: 0;
  display: inline-block;
}

div#navbar a:hover {
  background-color: #ed002f;
}

div#body_wrapper {
  margin: 0;
  padding: 1em;
  position: relative;
}

div#main_content {
  padding-top: 0.8em;
}

div#main_content a {
  color: #9a001e;
}

div#main_content a:hover {
  color: #ed002f;
}

div#front_page_text {
  padding-top: 0.5em;
}

div.entity_table_key th.status span {
  font-size: 0.8em;
  font-weight: bold;
  border: thin solid black;
  width: 1.5em;
  text-align: center;
  display: block;
}

table.entity_list th {
  text-align: left;
  padding-left: 0.5em;
}

table.entity_list td.status {
  font-size: 0.8em;
  font-weight: bold;
}

table.entity_list td.status span {
  border: thin solid black;
  width: 1.5em;
  display: block;
  text-align: center;
}

table.entity_list td.closed span,
  div.entity_table_key th.closed span {
  background-color: #fc6355;
}

table.entity_list td.open span,
  div.entity_table_key th.open span {
  background-color: #00e13c;
}

div#entity_list li.open:before {
  content: "\1F4D6";
}

div#entity_list li.closed:before {
  content: "\1F4D5";
}

div#entity_info table {
  text-align: left;
}

div#entity_info table th, td {
  padding: 0.5em;
  vertical-align: top;
}

div#entity_info table th {
  white-space: nowrap;
}

div#entity_info table td ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

tr.entity_last_updated {
  font-size: 0.8em;
  font-style: italic;
}

img.entity_photo {
  border: thin solid black;
}

ul.category_list li {
  list-style: none;
  position: relative;
}

ul.category_list li:before {
  content: '';
  display: block;
  position: absolute;
  width: 0.6em;
  height: 0.6em;
  border-radius: 0.6em;
  left: -20px;
  top: 0.3em;
  border: thin solid black;
}

li.cat_colour_green:before, td.cat_colour_green, div.green-map-marker {
  background-color: #789968;
}
li.cat_colour_red:before, td.cat_colour_red, div.red-map-marker {
  background-color: #c94545;
}

div.map-marker-container {
  margin-top: -42px;
  margin-left: -15px;
}

div.map-marker {
  border: 0.5px solid #000;
  width: 30px;
  height: 25px;
  border-radius: 100% 30% 0 30%;
  transform: rotate( 63deg ) skew( 33deg );
}

@media (min-width: 1000px) {
  div#map_canvas {
    float: right;
    width: 75%;
  }

  div#map_key {
    padding-top: 1em;
}
  
 div#category_list {
   float: left;
   max-width: 20%;
   padding-bottom: 1em;
 }

  div#entity_list {
    clear: left;
    float: left;
    max-width: 20%;
    height: 90%;
    margin-top: -2em;
  }

  div#entity_list ul {
    height: 400px;
    overflow: auto;
  }

  div.entity_table_key {
    float: right;
    padding-bottom: 1em;
  }

  div#entity_photo {
    float: right;
    padding-right: 1em;
    margin-top: -3em;
  }

  div#entity_info {
    float: left;
  }

  div.entity_info_with_photo {
    max-width: 45%;
  }
}

@media (max-width: 999px) {
  div#map_canvas {
    width: 100%;
  }

  div#main_content {
    display: flex;
    flex-direction: column;
  }
  h2.entity_name {
    order: 1;
    text-align: center;
  }
  div#entity_photo {
    order: 2;
    margin: 1em auto;
  }
  div#entity_info {
    order: 3;
  }
  div#photo_copyright, div#entity_photo_date {
    font-size: 0.8em;
    text-align: right;
  }
  img.entity_photo {
    max-width: 100%;
    height: auto;
  }
}
